<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="mybatis.model.Genre" alias="Genre"/>
        <typeAlias type="mybatis.model.Band" alias="Band"/>
        <typeAlias type="mybatis.model.Song" alias="Song"/>
        <typeAlias type="mybatis.model.Comment" alias="Comment"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="GeniusDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="xml/GenreMapper.xml"/>
        <mapper resource="xml/BandMapper.xml"/>
        <mapper resource="xml/CommentMapper.xml"/>
        <mapper resource="xml/SongMapper.xml"/>
    </mappers>
</configuration>